* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black ;
}

/* NAV */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: transparent;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav::after {
    content: "";
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 60px;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0)
);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav img{
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
}

.nav img:hover {
    transform: scale(1.05);
}

.nav-btn{
    background-color: transparent;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #fff;
    transform: translateY(-2px);
}
/* HERO */
.hero {
    height: 80vh;
    background: radial-gradient(
    ellipse at center,
    rgba(122, 78, 230, 0.9),
    rgba(28, 10, 60, 1)
);

    display: flex;
    align-items: center;
    padding-left: 60px;
}
.hero::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 100%;
    height: 100px;
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0)
);
}

.hero-content {
    max-width: 400px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 15px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* CONTENT */
.content {
        margin-top: 50px;
        padding: 30px;
        background-color: black;
}

.category {
    margin-bottom: 40px;
}

.category h2 {
    margin-bottom: 15px;
}

.movies-row {
    display: flex;
    gap: 15px;
}

.movie {
    width: 180px;
    height: 250px;
    background-color: #333;
    border-radius: 8px;
}
