
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


body {
    background: linear-gradient(#181718,#000000fb);
min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
color: #fff;
}

/* nav */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.788);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    height: 60px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.747),
        rgba(0, 0, 0, 0)
    );
}
.nav img{
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
}

.btn-exit{
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    background-color: #ffffffea;
    color: #000000;
    font-weight: 600;
    border-radius: 12px;
    font-size: 20px;
    
}


.the_container h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 700;
}


#registerForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#registerForm input {
    width: 100%;
    padding: 14px 15px;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
}


#registerForm button {
    margin-top: 10px;
    padding: 14px;
    background-color:  #ffffffe1;;
    border: none;
    border-radius: 15px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#registerForm label{
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
}


#registerForm button:hover {
    transform: translateY(-2px);
}




