
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}

body {
  padding-top: 60px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: transparent;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

  .nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0)
  );
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav img{
  height: 40px;
  width: auto;
  transition: transform 0.3s ease;
}

.nav img:hover {
  transform: scale(1.05);
}

.nav-btn{
  background-color: transparent;
  padding: 8px 18px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #fff;
  transform: translateY(-2px);
}

.nav-link{
  margin-bottom: 10px  ;
}

.nav-regis {
  display: flex;
  align-items: center;
  gap: 15px;
}
.btn-sign{
  color: #fff;
  text-decoration: none;
  padding: 9px 20px;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease;
}


.btn-sign:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #fff;
  transform: translateY(-2px);
  border-radius: 10px;
}

.btn-register {
  padding: 9px 20px;
  border-radius: 10px;
  background-color: #ffffffe7;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease;
}

/* landing */
.landing {
  position: relative; 
  background-image: url(/IMG/imagen_principal.avif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow-y: hidden;
  

}

.landing::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.95)
  );
  pointer-events: none;
}


.landing-content img {
  font-size: 40px;
  margin-bottom: 15px;
}

.landing-content p {
  font-size: 30px;
  margin-bottom: 55px;
  margin-top: 30px;
}


.btn-primary {
  padding: 9px 20px;
  border-radius: 12px;
  background-color: #ffffffdc;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s ease;
  margin-right: 30px;
}


.btn-secondary {
  color: #000000;
  text-decoration: none;
  padding: 9px 20px;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s ease;
  background-color: #ffffffdc;
  border-radius: 12px;
}
.landing-buttons a:hover{
  background-color: #ffffff9f;
}


/* card */

.card{
  max-height: 50rem;
  

}
.card-body{
  background-color: #000000;
}
.card h1{
  font-size: 10px;
  margin-left: 50px;
  font-weight: 600;
  color: #ffffff;
}
.active{
  display: none;
}
.oculto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
}
