* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma,;
}

body {
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
}

/* NAV */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.788);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    height: 60px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.747),
        rgba(0, 0, 0, 0)
    );
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav img {
    height: 35px;
    width: auto;
    cursor: pointer;
}



.nav-btn {
    background-color: transparent;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;

}
.btn-exit{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: rgba(224, 222, 222, 0.041);
    color: #dbdbdb;
    font-weight: 600;
    border-radius: 12px;
    font-size: 20px;
    
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #fff;
    transform: translateY(-2px);
}

.the_container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 0;
    padding: 80px 60px;
}

.fondo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}

.the-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.the-content {
    position: relative;
    max-width: 500px;
}

.the-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ffffff;
}

.the-content p {
    font-size: 18px;
    color: #cccccc;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    gap: 15px;
}

.poster {
    position: relative;
    width: 350px;
    height: 520px;
}

.poster img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.content {
    padding: 60px 80px;
    background-color: #000000;
}

/* catalog */

.card{
    max-height: 50rem;
}
.card-body{
    background-color: #000000;
}
.card h2{
    font-size: 15px;
    margin-left: 50px;
    font-weight: 600;
    color: #ca3e3e;
}
.catalogo{
    background-color: #000000;
    padding: 60px 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
